<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412395865534-r5i6fb4fersrn5olvlbrl36u8lo6jtrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412395865534-r5i6fb4fersrn5olvlbrl36u8lo6jtrg</string>
	<key>API_KEY</key>
	<string>AIzaSyD-P2ZtOXlSLRYIRRWTO2nqbLDwl1TWE4w</string>
	<key>GCM_SENDER_ID</key>
	<string>412395865534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizApp</string>
	<key>PROJECT_ID</key>
	<string>quizapp-63b9c</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-63b9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412395865534:ios:ff4bd3b61f0c0ad9cf65ef</string>
</dict>
</plist>